<tr id="<%= user.id %>">
	<td class="name" style="width: 30%">
		<%= user.email %>
	</td>
	<td class="stats" style="width: 40%">
		<%= user.name %>
	</td>
	<td class="actions">
		<%= link_to "<i class='icon-edit'></i> Editar Usuario".html_safe ,edit_user_path(user), :remote => true %> |
		<%= link_to("<i class='icon-user'></i> Eliminar Usuario".html_safe, user_path(user), :method => :delete,
			:confirm => "Seguro?", :remote => true) %>
	</td>
</tr>