<div id="loggin_box">
<h2>Cambia tu contrase침a</h2>

<%= simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put , :class => "form-horizontal"}) do |f| %>
  <%= f.error_notification %>

  <%= f.input :reset_password_token, :as => :hidden%>
  <%= f.full_error :reset_password_token %>

  <div class="form-inputs">
    <%= f.input :password, :required => true, :autofocus => true, :label => "Nueva contrase침a"  %>
    <%= f.input :password_confirmation, :label => "Confirmaci칩n", :required => true %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Actualizar contrase침a", :class => "btn btn-danger" %>
  </div>
<% end %>

</div>